
/* Ajout pour cards */

div.content {
  padding: 0 1em;
}

div.notes {
  display: flex;
  flex-wrap: wrap;
}

figure img { border: 2px #eee solid; border-radius: 5px;}
figcaption { font-size: 1em; }
section.level2 {
  border: 1px solid var(--strong-border-color); 
  border-radius: 3px;
  margin-right: 2px;
  margin-bottom: 2px;
  width : 300px;
  flex: 1 1 auto;
  padding: 1em;
}
section.level2 h2 {
  margin-top: 0.5em;
}
section.level3 {border-top: 1px #eee solid; border-bottom: 1px #ccc solid; padding-top: 1em; }
section.level3:first-of-type {border-top: none;}

@media only screen and (max-width: 800px) {
  div.content {
    border: none;
    padding-left: 3px;
  }
}

