
div.main {
  padding: 1em 0;
}

div.content {
  max-width: 80%;
  padding: 1em;
  padding-right:200px;
}



@media only screen and (max-width: 800px) {
  div.side {
    display: contents;
    padding-left: 0;
  }
  div.content {
    max-width: 100%;
    padding: 1em 0.5em;
  }
}
