/* Theme pink (default theme) */

:root {

--color1: DeepPink;
--color2: #ff9dd1;
--color3: #606060;
--back: #fdfdfd;
--front: #1a1a1a;

--background-color: var(--back);
--text-color: var(--front);
--text-lighter-color: var(--color3);
--title-color: var(--color1);
--metadata-color: #888;
--nav-color: var(--color1);
--accent-color: var(--color1);
--link-color: #111;
--link-visited-color: #1c1c1c;
--light-border-color: var(--color2);
--strong-border-color: var(--color1);
--tags-decoration-color: var(--color1);
--tags-decoration-color-select: var(--color1);
}

    
