
html {
  color: var(--text-color);
  background-color: var(--background-color);
}
body {
  margin: 0 auto;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

div.main {
  max-width: 100%;
  padding: 1em 0;
}


div.side {
  position: sticky;
  top: 20px;
  width:25%;
  float: left;
  padding-left: 10px;
  /*overflow-y: auto;*/
}


nav#TOC {
  /*padding: 0 10px;*/
  /* overflow-y: scroll; */
  margin-top: 2em;
  font-size: 1em;
  max-height:75vh;
  overflow-y: auto;
  margin-bottom: 1em;
  padding-bottom: 1em;
}


div.sideheader {
  color: var(--metadata-color);
  border-bottom: 1px solid var(--light-border-color);
  font-size: smaller;
  padding: 1em 0;
}

p.date, p.update, p.service {
  margin: 0;
}

div#refresh {
  margin: 1em 0;
}

div.content {
  margin-left:26%;
  border-left: 1px solid var(--light-border-color);
}

nav#TOC > ul > li > a {
  color: var(--nav-color);
  font-weight: 500;
}

@media (max-width: 800px) {
  body {
    font-size: 0.9em;
    padding: 1em 0.3em;
  }
  h1 {
    font-size: 1.8em;
  }
}
@media print {
  html {
    background-color: white;
  }
  body {
    background-color: transparent;
    color: #1a1a1a;
    font-size: 12pt;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3, h4 {
    page-break-after: avoid;
  }
}

h1,h2 {
  color: var(--title-color);
}

span > a {
  text-decoration-color: var(--tags-decoration-color);
}

p {
  margin: 1em 0;
}
a {
  color: var(--link-color);
}
a:visited {
  color: var(--link-visited-color);
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}

h2.title {
  margin: 0;
  font-size: 1em;
}

h5, h6 {
  font-size: 1em;
  font-style: italic;
}
h6 {
  font-weight: normal;
}
ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
}
li > ol, li > ul {
  margin-top: 0;
}
blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid var(--light-border-color);
  color: var(--text-lighter-color);
}
code {
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 85%;
  margin: 0;
  hyphens: manual;
}
pre {
  margin: 1em 0;
  overflow: auto;
}
pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}
.sourceCode {
  background-color: transparent;
  overflow: visible;
}
hr {
  background-color: var(--text-color);
  border: none;
  height: 1px;
  margin: 1em 0;
}
table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
header {
  margin-bottom: 4em;
  text-align: center;
}
#TOC li {
  list-style: none;
}
#TOC ul {
  margin: 0;
  padding: 0;
}
#TOC > ul > li {
  margin-top: 5px;
}
#TOC > ul > li > ul {
  padding-left: 1em;
  margin-bottom: 5px;
}
#TOC a:not(:hover) {
  text-decoration: none;
}

span > a {
  padding: 0 2px;
  text-decoration-thickness: 2px;
}

div#alltags p {
  line-height: 1.8em;
}

code{white-space: pre-wrap;}
span.smallcaps{font-variant: small-caps;}
div.columns{display: flex; gap: min(4vw, 1.5em);}
div.column{flex: auto; overflow-x: auto;}
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
ul.task-list{list-style: none;}
ul.task-list li input[type="checkbox"] {
  width: 0.8em;
  margin: 0 0.8em 0.2em -1.6em;
  vertical-align: middle;
}
.display.math{display: block; text-align: center; margin: 0.5rem auto;}

@media only screen and (max-width: 800px) {
  div.side {
    display: contents;
    width: 100%;
    position:inherit;
    float: left;
    padding-left: 0;
  }
  div.side h2 {text-align: center; font-size: 1.8em;}
  div.side nav { display:none;}
  div#alltags {display:none;}
  div.side div.sideheader {
    display:block; 
    margin-left: 1em;
    border-bottom: 0px;
    padding: 1em 0;    
    text-align: center;
  }
  div.content {
    border: none;
    margin-left:0;
    max-width: 100%;
    padding: 1em 0.5em;
  }
  div.content header {display:none;}
}
